In [78]:
import pandas as pd
pd.options.display.max_columns = None
pd.options.display.width = None

In [111]:
# tweets = pd.read_csv('D:\Downloads\DP\data\e2v_data.csv')
tweets = pd.read_csv('D:\Downloads\DP\data\e2v_data_emoji.csv')

In [112]:
len(tweets)

10865

In [108]:
tweets.head()

,Id,Label,Text
0,511594664559128576,Neutral,"RT @AngrySalmond: In an independent Scotland, ..."
1,513311397384441856,Neutral,ó¾“«Spanish â˜º
2,512055543096426496,Negative,an uh she wanna pillow fight in the middle of ...
3,514398892343844864,Neutral,RT @momen_mubasher: #Obama how come he never p...
4,515032706196205568,Neutral,"""FDI means 'First Develop India' for me,"" says..."

In [113]:
tweets.sample(frac=1).reset_index(drop=True).head()

             Id     Label                                               Text
0  5.129890e+17  Positive  Bummed I can't spoil my boyfriend for his birt...
1  5.116540e+17  Positive  ðŸ’œðŸ’œðŸ’œðŸ’œðŸ’œðŸ’šðŸ’œðŸ’šðŸ’šðŸ’šðŸ’šðŸ’œðŸ’™ðŸ’™ðŸ’›ðŸ’›ðŸ’œðŸ’šðŸ’š#5SOSatKISSPHX @KISSFMPhoen...
2  5.149410e+17   Neutral  @Kryptic_kritic I liked her too, in Chicago P....
3  5.116310e+17  Positive  @James_Yammouni #MadeInAus YOU SHOULD FOLLOW M...
4  5.127940e+17   Neutral                         Who wanna go to B-Dubs ? ðŸ‘€

In [114]:
words = 0
chars = 0
for t in tweets['Text']:
    chars += len(t)
    words += len(t.split())

avg_words = words / len(tweets)
avg_chars = chars / len(tweets)
print("Average words: ", avg_words)
print("Average chars: ", avg_chars)

Average words:  11.38196042337782
Average chars:  68.10280717901519

In [115]:
tweets['Label'].value_counts()

Positive    4853
Negative    3157
Neutral     2855
Name: Label, dtype: int64

In [106]:
# pocetnosti v jednotlivych triedach
words = 0
chars = 0
tw = tweets[tweets['Label']=='Neutral']
for t in tw['Text']:
    chars += len(t)
    words += len(t.split())

avg_words = words / len(tw)
avg_chars = chars / len(tw)
print("Average words: ", avg_words)
print("Average chars: ", avg_chars)

Average words:  12.33066415449835
Average chars:  82.2511607563421